.container {
  margin: 2rem 0 0 0;
}

.search-bar {
  /* max-width: 200px; */
  /* margin: 1rem 2rem; */
  /* background-color: yellow; */
}

.gif-tag:hover {
  cursor: pointer;
  color: blueviolet;
}

.badge:hover {
  cursor: pointer;
}

.badge {
  margin-right: .5rem;
  font-size: 100% !important;
}

.gif-tag {
  margin-right: .25rem;
}