.container {
  margin-top: 2rem;
}

.gif-tag:hover, .badge:hover {
  cursor: pointer;
  color: #007bff;
}

.badge {
  transition:none !important;
}

.badge:hover {
  cursor: pointer;
}

.badge {
  margin-right: .5rem;
  font-size: 100% !important;
  margin-bottom: .5rem;
}

.gif-tag {
  margin-right: .25rem;
}